
*{
  margin: 0;
  padding:0;
}
body {
  overflow-x: hidden;
  font-family: 'Open Sans Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(255, 255, 255, 0.87); */
  background-image: linear-gradient(-25deg,  rgb(241, 241, 241) 100%,#ffffff 0%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
