
.btn {		
	display: flex;
	justify-content: center;
  	position: relative;	
  	width: 25%;
	padding: 1rem;
	font-size: 1rem;
	color: rgb(255, 255, 255);
	letter-spacing: .2rem;
	text-transform: uppercase;
	transition: all .3s ease-in;	
	cursor: pointer;
	user-select: none;
	text-decoration: none;
	z-index: 3;
	margin:10px 0;
	background: black;
}

.btn a{
	text-decoration: none;
	color: inherit;
}

.btn a:visited{
	text-decoration: none;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.btn:hover{
	background: gray;
}